<!DOCTYPE html >
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <P> MI PRIMER PROYECTO </P>
<center><h1>INICIO DE SESION CON PYTHON</h1></center>


 <form action="/add" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">INGRESE SU NOMBRE</label>
    <input type="text" class="form-control" name="name" placeholder="ingrese su nombre">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">CORREO ELECTRONICO</label>
    <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico">

  <button type="submit" class="btn btn-primary">REGISTRARSE</button>

</form>

<h1>LISTA DE USUARIOS</h1>
<form action="/search" method="GET" class="d-flex">
  <input type="text" name="q" class="form-control me-2" placeholder="Buscar..." value="{{ busqueda or '' }}">
  <button type="submit" class="btn btn-outline-success">Buscar</button>
</form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>   
        <th scope="col">Correo</th> 
        <th scope="col">Acciones</th> 
      </tr>
    </thead>
    <tbody>
      {%for u in user%}
         <td>{{ u[0] }}</td> <!-- ID -->
    <td>{{ u[1] }}</td> <!-- Nombre -->
    <td>{{ u[2] }}</td> <!-- Correo -->
    <td>
        <!-- BOTÓN PARA EDITAR (Llama a tu ruta /edit/id) -->
        <a href="/edit/{{ u[0] }}" class="btn btn-warning btn-sm">Editar</a>
        
        <!-- BOTÓN PARA ELIMINAR (Llama a tu ruta /delete/id) -->
        <a href="/delete/{{ u[0] }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar?')">Eliminar</a>
    </td>
</tr>
    

   
{% endfor %}

  </tbody>
</table>
</table>
</body>
</html>